@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header{
    color: white;
    background-color: black;
    text-align: center;
    font-family: var(--font1)

}

header > h1{
    color: ;
    padding-top: 50px;
    font-family: var(--font2);
    font-variant: small-caps;
    font-size: 10vh;
}

header > p {
    padding: 50px;
}

header > p a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header > p a:hover{
    text-decoration: underline;
    color: rgb(97, 92, 92);
}

section{
    font-family: var(--font3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vh;
}

section.normal{
    background-color: white;
    color: black; 
}

section > p{
    padding-bottom: 2em;
}

section.imagem{
    background-color: rgb(70, 70, 70);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.512);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.534);
    text-shadow: 1px 1px 0px black;
}


section#img01{
    background-image: url("../imagens/background001.jpg");
    background-position: right center;
}

section#img02{
    background-image: url("../imagens/background002.jpg");
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

footer a:hover{
    text-decoration: underline;
    color: rgb(97, 92, 92);
}