@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    background: url("https://images.pexels.com/photos/413195/pexels-photo-413195.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

header{
    background-color: white;
    margin-bottom: 0.5px;
}



header h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #3ba25d;
    padding: 10px;
    margin-top: -15px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 1px 2px black;
}

header p{
    padding: 5px;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;

}

header img{
    width: 40px;
    height: 40px;
    padding: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    align-items: right;
    display: inline-block;
}

nav > a {
    text-decoration: none;
    color: #0acf00;
    display: inline-block;
    padding: 7px;
    margin-left: 335px;
}

nav > a abbr{
    text-decoration: none;
    transition: 1s;
}

nav a:hover{
    color: #089547e8;
    text-decoration: underline;
}

main{
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    padding: 20px;
    margin: auto;
    margin-bottom: 7px;
    box-shadow: 0px 0px 3px rgba(3, 111, 12, 0.423);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

article #principal {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

article > h3{
    padding: 10px;
}

article > p{
    text-align: justify;
}

article strong{
    color: #2acb5f;
}

footer {
    background-color: white;
    padding: 0.5px;
    color: #00af03;
    text-align: center;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

footer > p a{
    text-decoration: none;
    color: #af35f6;
}

footer > p a:hover{
    color: #925adaba;
}
